
.form1{
	 width: 610px;
	 height: 500px;
	 margin:10px auto;
	
	 padding: 100px 0 0 40px;

}
h1{
   text-align: center;
   color: purple;
}
td{
	height: 50px;
	width: 100px;
}
body{
	 background-image: url("../img/iletisim.jpg");
	font: 20px tahoma;
}
#buton{
	margin-top: 50px;
	width: 120px;
	height: 30px;
	border: 2px solid purple;
	border-radius: 3px ;
	color: purple;
	font-weight: bold;	
}
#buton:hover{
	background-color: #48dbfb;
}
#ad,#soyad,#mail{
	width: 168px;
	height: 22px;
	border:1px solid #bbb;
	border-radius: 3px;
	padding-left: 2px;
}
#gun,#ay{
	width: 50px;
	height: 22px;
	color:black;
	border:1px solid #999;
	background-color: white;
	border-radius: 3px;
}
#dyeri,#yil{
 width: 100px;
 height: 22px;
 color: black;
 border:1px solid #999;
 border-radius: 3px;
}
#metin{
	width: 210px;
	height: 180px;
}