body {
	margin: 0;
	padding: 0;
	background: rgb(238, 174, 202);
	background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(0, 0, 0, 1) 100%);
	font-family: 'Fredoka One', cursive;
}

.container-fluid {
	width: 96%;
	margin: auto;
	padding: 0;
}

a {
	text-decoration: none !important;
	color: white;
}

a:hover {
	text-decoration: none !important;
	color: #000000;
}

.header nav a
{
	color: black !important;
}

.karsilama
{
	color: white;
	text-align: center !important;
}



.hakkimda {
	background: rgb(63,94,251);
	background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(201,0,105,1) 100%);
	border: 0;
	color: white;
	font-size: 20px !important;
}

.ozgecmis {
	background: rgb(63,94,251);
	background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(201,111,0,1) 100%);
	border: 0;
	color: white;
	font-size: 20px !important;
}

.hakkimda:hover {
	background: rgb(238, 174, 202);
	background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(0, 0, 0, 1) 100%);
	border: 0;
	color: white;
	font-size: 20px !important;
}

.ozgecmis:hover {
	background: rgb(238, 174, 202);
	background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(0, 0, 0, 1) 100%);
	border: 0;
	color: white;
	font-size: 20px !important;
}

.sehrim {
	background: rgb(63, 94, 251);
	background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(70, 252, 112, 1) 100%);
	border: 0;
	color: white;
	font-size: 20px !important;
	border-radius: 0;
}

.mirasimiz {
	background: rgb(63, 94, 251);
	background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 177, 70, 1) 100%);
	border: 0;
	color: white;
	font-size: 20px !important;
	border-radius: 0;
}

.sehrim:hover {
	background: rgb(238, 174, 202);
	background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(0, 0, 0, 1) 100%);
	border: 0;
	color: white;
	font-size: 20px !important;
}

.mirasimiz:hover {
	background: rgb(238, 174, 202);
	background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(0, 0, 0, 1) 100%);
	border: 0;
	color: white;
	font-size: 20px !important;
}

.iletisim {
	background: rgb(63, 94, 251);
	background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 161, 70, 1) 100%);
	border: 0;
	color: white;
	font-size: 20px !important;
	border-radius: 0;
}

.giris {
	background: rgb(63, 94, 251);
	background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 70, 1) 100%);
	border: 0;
	color: white;
	font-size: 20px !important;
	border-radius: 0;
}

.iletisim:hover {
	background: rgb(238, 174, 202);
	background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(0, 0, 0, 1) 100%);
	border: 0;
	color: white;
	font-size: 20px !important;
}

.giris:hover {
	background: rgb(238, 174, 202);
	background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(0, 0, 0, 1) 100%);
	border: 0;
	color: white;
	font-size: 20px !important;
}
.footer
{
	background-color: white;
	padding: 15px;
	text-align: center;
	font-family: 'Anton', sans-serif;
}
.footer:hover
{
	color: white;
	padding: 15px;
	text-align: center;
	font-family: 'Anton', sans-serif;
	background: rgb(238, 174, 202);
	background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(0, 0, 0, 1) 100%);
}
.header
{
	background-color: white;
	padding: 15px;
	font-size: 18px;
	text-align: center;
	font-family: 'Pacifico', cursive;
}
.header:hover
{
	color: white;	
	padding: 15px;
	font-size: 18px;
	text-align: center;
	font-family: 'Pacifico', cursive;
	background: rgb(238, 174, 202);
	background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(0, 0, 0, 1) 100%);
}