body
{
    font-size: 16px;
}
.baslik
{
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    padding: 10px;
    background-color: rgb(238, 174, 202);
    color:black;
    border: 5px solid black;
}
p
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}