body{
	background-image: url("../img/arkaplan.jpg");
}
.resim{
	
	border: 2px solid black;
	float: left;
	margin-bottom: 28px;
}
.tarihcesi p{
	margin-bottom: 25px;
    float: left;
}
h1{
	text-align: center;
	color: #6D4C41;
}
h2{
	text-align: center;
	color: #6D4C41;
	margin-bottom: 50px;
}
p{
	border: 2px solid black;
	font:bold 15px monospace;
}