body {
	background: rgb(238, 174, 202);
	background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(0, 0, 0, 1) 100%);
}
.girisekran
{
    text-align: center;
    color: white;
    font-weight: bolder;
}
.oturum
{
    background: rgb(238, 174, 202);
    color: black;
    border: 5px solid black;
    font-weight: 800;
}
.kullanici_adi
{
    color: rgb(238, 174, 202);
    background: black;
    padding: 10px;

}
.kullanici_sifre
{
    color: rgb(238, 174, 202);
    background: black;
    padding: 10px;
}