.arkaplan
{
    border: 3px solid magenta;
    background: rgb(238, 174, 202);
	background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(0, 0, 0, 1) 100%);
}
.yazi
{
    font-size: 15px;
    font-family: monospace;
}
.baslik
{
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    padding: 10px;
    background-color: rgb(238, 174, 202);
    color:black;
    border: 5px solid black;
}
#slider
{
    font-size: 25px !important;
}
.resimSlider
{
    width: 100%;
    border: 4px solid magenta;
}